.container {
    width: 970px;
    margin: 0 auto;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main .center {
    width: 70%;
}

.main .uploadFile {
    display: flex;
    align-items: center;
    margin: 50px 0 50px 0;
}

.main .btn-add-file {
    outline: none;
    border: none;
    background: #6ad436;
    padding: 6px 15px 6px 15px;
    transition: .5s;
    cursor: pointer;
}

.main .btn-add-file:hover {
    background: #47a01b;
    transition: .5s;
}

.main .listMovie a {
    text-decoration: none;
    color: #000000;
    display: block;
}

.main .listMovie p {
    color: #000000;
}

.main .listMovie .listMovie-item {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
    padding: 15px 0;
}

.main .listMovie .itemList .author strong {
    width: 120px;
    display: inline-block;
}

.main .listMovie .itemList .title {
    display: flex;
}

.main .listMovie .itemList .title strong {
    width: 118px;
    display: inline-block;
}

.main .listMovie .itemList .author {
    display: flex;
    align-items: baseline;
}

.main .listMovie .itemList .author p {
    margin: 0;
}

.main .listMovie .listMovie-item .wrap-for-btn {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0 0 0;
}

.main .listMovie .listMovie-item .btn-delete {
    outline: none;
    border: none;
    background: #ec9791;
    padding: 6px 15px 6px 15px;
    transition: .5s;
    cursor: pointer;
}

.main .listMovie .listMovie-item .btn-delete:hover {
    background: #da645b;
    transition: .5s;
}

.main .left {
    margin: 50px 0 0 0;
    width: 25%;
}

/*sidebar*/
.main .left .sidebar .block-filter {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
}

.main .left .item-sidebar {
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
}

.main .left .item-sidebar:last-child {
    border-bottom: none;
}

.main .left .item-sidebar .input-search {
    margin: 0 auto;
    width: 100%;
    display: flex;
    padding: 11px 35px 11px 10px;
    border: 1px solid #d6d6d6;
    position: relative;
    outline: none;
    box-sizing: border-box;;
}

.css-2b097c-container {
    margin: 0 0 8px 0;
}

.css-yk16xz-control {
    border-radius: 0;
}

.main .left .sidebar .block-form {
    margin: 25px 0 0 0;
}

.main .left .sidebar .block-form form {
    display: flex;
    flex-direction: column;
}

.main .left .sidebar .block-form form input {
    margin: 0 0 8px 0;
    width: 100%;
    display: flex;
    padding: 11px 35px 11px 10px;
    border: 1px solid #d6d6d6;
    position: relative;
    outline: none;
    box-sizing: border-box;
}

.main .left .sidebar .block-form form .btn-add-data {
    outline: none;
    border: none;
    background: #6ad436;
    padding: 6px 15px 6px 15px;
    transition: .5s;
    cursor: pointer;
}
.main .left .sidebar .block-form form .btn-add-data.disabled {
    pointer-events: none;
    background: #c0e8ad;
}

.main .left .sidebar .block-form form .btn-add-data:hover {
    background: #47a01b;
    transition: .5s;
}

/*sidebar*/

/*block-info*/
.block-info .block-info-wrap {
    border-bottom: 1px solid #d6d6d6;
    margin: 50px 0 0 0;
}

.block-info .block-info-wrap p strong {
    width: 110px;
    display: inline-block;
}

.back-page a{
    color: #000000;
    text-decoration: none;
}

/*block-info*/
